<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!--Style sheets-->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
  <!--Here's my sidebar. Isn't it nice? I'm sure you are too.-->
  <div class="sidenav">
    <a href="#">Home</a>
    <a href="about">About</a>
    <a href="resume">Resume</a>
    <a href="projectsList">Projects</a>
    <a href="contact">Contact</a>
  </div>
  
  <!-- Page content -->
  <div class="pageTitle" style="background-image: url(mountains.jpg);">
    <h1>Andrew James</h1>
  </div>

  <div class="main">
    <p>Hello!</p>
    <p>My website is currently being rebuilt in Node. Check back for more progress!</p>
  </div>


</body>
</html>